button {
    position: relative;

    margin: 10px;
    padding: 10px 30px;

    font-family: serif;
    font-size: 26px;

    color: rgb(255, 255, 255);
    background-color: rgb(255, 77, 121);
    border: none;
    border-radius: 10px;

    text-align: center;

    cursor: pointer;
}

button:hover {
    background-color: #7c1f37;
}